log
config/initializers/amazon.rb
config/database.yml
config/deploy.rb
tmp/
bin/
vendor/bundler_gems/doc
vendor/bundler_gems/environment.rb
vendor/bundler_gems/gems
vendor/bundler_gems/specifications
public/avatars/
public/covers/
