/* @override 
	http://localhost:3000/stylesheets/scaffold.css?1204006999
	http://localhost:3000/stylesheets/styles.css?1204006999
*/

body {
	background: #fff url(/images/background.jpg) repeat-x;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #3e3e3e;
}

#logo {
	position: absolute;
	top: 33px;
	display: inline;
}

#page {
	width: 980px;
	margin: 0 auto;
	background: url(/images/main-background.gif);
	position: relative;
	top: 92px;
}

#content {
	width: 920px;
	padding: 5px;
	float: left;
	position: relative;
	right: -25px;
	top: -10px;
}

#page-top {
	width: 980px;
	height: 15px;
	background: url(/images/page-top.jpg) no-repeat;
	top: -7px;
	position: relative;
}

#navbar {
	width: 700px;
	height: 26px;
	position: absolute;
	top: 45px;
	left: 201px;
	padding-top: 10px;
	padding-left: 10px;
}

#user_actions a:hover {
	text-decoration: underline;
}

#navbar, #navbar a, #navbar a:hover {
	color: #bdab9f;
	font: normal 15px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-decoration: none;
}

#navbar a:hover {
	text-decoration: underline;
}

#user_actions {
	position: relative;
	color: #444;
	float: right;
	left: -15px;
	background-color: #fff;
	padding: 3px;
	top: -6px;
	border: 1px solid #b4b4b4;
}

#user_actions a {
	color: #444;
	font-weight: normal;
	text-decoration: none;
}

a {
	color: #5c5c5c;
}

a:hover {
	color: #000;
}

h1 {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000;
}

h2 {
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000;
}
h3 {
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
}

/* @group Set Display */
#book_set_details, #book_details {
	border: 1px solid #c4c4c4;
	width: 240px;
	position: relative;
	float: right;
	padding: 5px;
	background-color: #e6f8f8;
}
#book_set_details h2, #book_details  h2 {
	top: -33px;
	position: relative;
}
#book_set_details_content, #book_details_content {
	position: relative;
	top: -17px;
}
.book_set_details_stat, .book_details_stat {
	font: 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #007e7f;
}
.set_list {
	list-style-type: none;
	margin-bottom: 5px;
	padding: 5px;
	margin-left: -40px;
	border: 1px solid #d0d3c4;
	background-color: #fdfff0;
	width: 650px;
}

.set_thumbnail_cell {
	width: 100px;
	text-align: center;
}

.set_medium_thumbnail_cell {
	width: 140px;
	text-align: center;
}

.set_details_cell {
	
}

.set_title {
	font-size: 15px;
}

.set_authors {
	
}

.set_pages {
	
}

.set_show {
	
}

.set_purchase {
	
}

/* @end */

/* @group Homepage Display */

.home_set_list {
	width: 170px;
	height: 200px;
	xborder: 1px solid #828282;
	position: relative;
	float: left;
	text-align: center;
	font-size: 10px;
}

.home_book_description {
	
}

/* @end */

/* @group Forms */

.form_set, .form_set_opt {
	width: 500px;
	margin-bottom: 10px;
	padding: 2px 2px 2px 7px;
	border: 1px solid #ccc;
	background-color: #f6fef2;
	margin-top: 16px;
}

.form_set_opt {
	background-color: #ffefec;
}

.label_req, .label_opt {
	font-size: 11px;
	color: #444;
	line-height: 17px;
	position: relative;
	bottom: 12px;
	position: relative;
	background-color: #fff;
	display: inline;
}

.field_req input, .field_opt input, .field_req textarea, .field_opt textarea {
	width: 450px;
	border-width: 1px;
	border-style: solid;
	padding: 4px;
	color: #6e6e6e;
	font: 11px "Lucida Grande", Lucida, Verdana, sans-serif;
	position: relative;
	bottom: 7px;
}

.field_req input, field_req textarea {
	border-color: #dcdfdf;
}

.field_opt input, field_opt textarea {
	border-color: #d4bcff;
}

/* @end */

/* @group Book Detail Page */

.book_detail_image {
	position: relative;
}

.book_pair {
	margin-bottom: 10px;
	border: 1px solid #c7c7c7;
	padding: 5px;
	width: 500px;
}

.book_attribute {
	color: #8b8b8b;
	font-size: 10px;
	bottom: 12px;
	position: relative;
	background-color: #fff;
}

.book_property {
	color: #393939;
	font-size: 13px;
}

/* @end */

/* @group Profile */

.help {
	font-size: 10px;
	color: #a0a0a0;
	margin-left: 3px;
}

/* @end */

#footer {
	font-size: 0.9em;
	color: #595959;
	position: relative;
	clear: left;
	text-align: center;
	padding-top: 15px;
	background: #fff url(/images/page-bottom.gif) no-repeat;
}


  .pagination {
    padding: 3px;
    margin: 3px;
  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #333;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #111;
    color: #000;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #321;
    font-weight: bold;
    background-color: #321	;
    color: #FFF;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
  }