%h1 Welcome to Instabrary
%p Instabrary lets you create playlists of books--we call them "booksets." Use it to make reading recommendations to friends, post on your blog, save for later or just for fun.

%h2 A Few Random Booksets

= render :partial => '/shared/bookset_list'