<h1>Welcome to Instabrary</h1>
<h2>Recently Created Book Sets</h2>

<% @booksets.each do |bookset| %>
	<% if bookset.books[0] %>
		<% if bookset.books[0].medium_image %>
			<div class="home_set_list">
				<%= link_to image_tag(bookset.books[0].medium_image, :height => bookset.books[0].medium_image_height, :width => bookset.books[0].medium_image_width, :alt => bookset.title), :controller => "booksets", :action => "show", :id => bookset %>
				<br /><%= bookset.title %> <br /> <%= bookset.books.length %> books
			</div>
		<% end %>
	<% end %>
<% end %>