<h1>Booksets<% if !@user.blank? %> by <%= @user.login %><% else %> - A list of all of them.<% end %></h1>

<%= render :partial => '/shared/bookset_list' %>

<div id="set_pagination">
	<br />
	<%= will_paginate %>
</div>