<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Isbn</th>
	<th>Author</th>
  </tr>
<%= render :partial => 'book', :collection => @books %>
</table>

<%= will_paginate @books %>

<br />