<% if @bookset.blank? %>
	<h1>All the books on Instabrary</h1>
<% else %>
	<h1>A concise list of the books in "<%= link_to @bookset.title, :controller => 'booksets', :id => @bookset %>"</h1>
<% end %>

<table>
  <tr>
    <th>Title</th>
	<th>Author(s)</th>
	<th>Isbn</th>
  </tr>
<%= render :partial => 'book', :collection => @books %>
</table>


<br /><%= will_paginate %>
