<h1>All the books on Instabrary</h1>

<table>
  <tr>
    <th>Title</th>
	<th>Author(s)</th>
	<th>Isbn</th>
  </tr>
<%= render :partial => 'book', :collection => @books %>
</table>


<br /><%= will_paginate @books %>
